{% extends 'app/base.html' %}
{% load static %}
{% block content %}
  <section>
    <div class="container-fluid">
      <div class="bg-primary p-4 rounded-bottom mb-4 position-relative">
        <div class="container">
          <div class="row">
            <div class="col-12 text-center">
              <img class="object-fit-scale" src="{% static 'images/logo-white.png' %}" width="64" alt="Example Image" />
            </div>
          </div>
        </div>


          <div class="dropdown position-absolute end-0 top-0 bottom-0 d-flex justify-content-center">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
            <ul class="dropdown-menu p-0">
              <div class="w-100 d-flex justify-content-center bg-primary rounded">
                <a href="{% url 'logout' %}" type="button" class="fw-bold fs-1 my-3 mx-1 text-white text-decoration-none">Sair <i class="bi bi-box-arrow-right ms-2"></i></a>
              </div>
            </ul>
          </div>
      </div>

      <div class="row">
        <div class="col-md-6 offset-md-3">
          <div class="d-flex justify-content-between align-items-center gap-2">
            <form action="" method="POST" class="d-flex align-items-center form-filter w-100">
              {% csrf_token %}
              <input type="text" placeholder="Pesquisar" class="form-control me-2 flex-grow-1" name="search" required>
              <button type="submit" class="btn btn-primary text-white fw-bold">Pesquisar</button>
            </form>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6 offset-md-3">
        {% if messages %}
          {% for message in messages %}
            <div {% if message.tags %} style="color:red;" {% else %} class="alert alert-info" {% endif %}>
                {{ message }}
            </div>
          {% endfor %}
        {% endif %}
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <div class="d-flex align-items-center gap-2">
            {% if not lider_grupo %}
              <a href="{% url 'contatos' %}">
              <button class="btn btn-primary text-white">Lideres de Equipe</button>
              </a>
            {% endif %}
            <a href="{% url 'amigos' %}">
              <button class="btn btn-primary text-white">Amigos</button>
            </a>
          </div>
        </div>
      </div>

      <br>
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <div class="d-flex align-items-center gap-2">
            <a href="{% url 'add_amigo' %}">
            <button class="btn btn-info text-white">Adicionar Amigo</button>
            </a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 offset-md-3">
          <ul class="list-group mt-4">
            {% for amigo in amigos %}
              <div class="card mb-3">
                <div class="card-body d-flex justify-content-between align-items-center">
                  <a data-bs-toggle="modal" data-bs-target="#viewUserModal">
                    <div>
                      <h5 class="card-title mb-1">{{ amigo.nome }}</h5>
                      {% if amigo.apelido %}
                        <p class="card-text mb-0">{{ amigo.apelido }}</p>
                      {% endif %}
                    </div>
                  </a>
                  <div class="btn-group" role="group" aria-label="Ações">
                    <button type="button" class="btn btn-info me-2 text-white fw-bold"><i class="bi bi-pencil"></i> Editar</button>
                    <a href="excluir_amigo/{{amigo.pk}}">
                      <button type="button" class="btn btn-warning text-white fw-bold"><i class="bi bi-trash"></i> Excluir</button>
                    </a>
                  </div>
                </div>
              </div>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </section>  
{% endblock %}
