<div class="modal fade" id="viewUserModal{{ contact.id }}" tabindex="-1" aria-labelledby="viewUserModal{{ contact.id }}Label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="viewUserModal{{ contact.id }}Label">Visualizar Usuário</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h5>{{ amigo.nome }}</h5>
                    <p>{{ contact.apelido }}</p>
                    <!-- Adicione aqui as informações adicionais do usuário -->
                    <h6>Lista de Amigos:</h6>
                    <ul>
                        {% for friend in contact.amigos %}
                        <li>{{ friend }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>